{% extends "MovieWebsite/layout.html" %}

{% block title %}
{% endblock %}
{% block content %}
<div style="font-size: 40px;"><b>Bookings</b></div>
            <ul>
                {% for pickMovie in bookingList %}
                        <li>{{ pickMovie }} <a href="{% url 'requestCancellation' pickMovie.id %}">Request Cancellation</a></li> 
                {% endfor %}
            </ul>

        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                    <div class="error-message">{{ message }}</div>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
    {% endblock %}