<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'MovieWebsite/site.css' %}"/>
</head>


{% comment %} <body style="background-image: url({% static "MovieWebsite/media/background.jpg" %}); background-size: 1920px 1080px"> {% endcomment %}
<body>
<div>
{% load static %} <img src="{% static "MovieWebsite/media/banner.png" %}" style="width:100%"/>
</div>
<div class="navbar">
    <a href="{% url 'homer' %}" class="navbar-item">Home</a>
    {% comment %} {% if user.is_superuser %} {% endcomment %}
        <a href="{% url 'bookMovie' %}" class="navbar-item">Book a Movie</a>
        <a href="{% url 'listMovie' %}" class="navbar-item">List a new Movie</a>
        <a href="{% url 'movieShowings' %}" class="navbar-item">View All Showings</a>

        <a href="{% url 'newScreen' %}" class="navbar-item">Add screen</a>
        <a href="{% url 'showingMovie' %}" class="navbar-item">Create movie showing</a>

        <a href="{% url 'movie_List' %}" class="navbar-item">See Movies</a>
        <a href="{% url 'registerClub' %}" class="navbar-item">Register Club</a>
        <a href="{% url 'registerClubRep' %}" class="navbar-item">Register Club Rep</a>
        <a href="{% url 'accountList' %}" class="navbar-item">View Accounts</a>
        <a href="{% url 'discountRequests' %}" class="navbar-item">View Discount Requests</a>
        <a href="{% url 'requestDiscount' %}" class="navbar-item">Request Discount</a>
        <a href="{% url 'displayMovieBookings' %}" class="navbar-item">View Bookings</a>
        
        <a href="{% url 'addTokensToWallet' %}" class="navbar-item">Initalise Tokens</a>
        <a href="{% url 'showTokenWallet' %}" class="navbar-item">View Wallet</a>
        <a href="{% url 'accountStatementList' %}" class="navbar-item">View Account Statements</a>


        {% if user.is_authenticated %}
            <a href="{% url 'logout' %}" class="navbar-item">Logout</a>
        {% else %}
            <a href="{% url 'account_login' %}" class="navbar-item">Login</a>
        {% endif %}

</div>
<br>
<br>
<div class="body-content">
    {% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>{{ message }}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}
    {% endblock %}
</div>
    <footer>
        <p style="color: rgb(255, 255, 255);">Alastair Langmead, Samuel Featherston, Flynn Vaughan, Mohamed Ahmed, Neptali Ortega-Gutierrez © 2022</p>
    </footer>

</body>
</html>