{% extends "MovieWebsite/layout.html" %}

{% block title %}
{% endblock %}
{% block content %}
<div style="font-size: 40px;"><b>Movies</b></div>
<ul>
    {% for movieTimeSlots in showing_list %}
          <li>{{ movieTimeSlots }} 
          <a href="{% url 'bookMovieShowing' movieTimeSlots.id %}">Book</a> 
    {% endfor %}
</ul>
<a href="{% url 'loginClubRep' %}">Book as a Club Rep</a>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
            <div class="error-message">{{ message }}</div>
        {% endif %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    <div class="error-message">{{ message }}</div>
        {% endif %}
    {% endfor %}
</ul>
{% endif %}
{% endblock %}