{% extends "MovieWebsite/layout.html" %}

{% block title %}
    Log a message
{% endblock %}
{% block content %}
<div style="font-size: 40px;"><b>Add a new screen</b></div>
    <form method="POST" class="log-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Add New Screen</button>
    </form>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                <div class="error-message">{{ message }}</div>
            {% endif %}
        {% endfor %}
    </ul>
{% endif %}
{% endblock %}