{% extends "MovieWebsite/layout.html" %}
{% block title %}
{% endblock %}
{% block content %}
<div style="font-size: 40px;"><b>Club Rep Login</b></div>
    <form method="POST" action="">
        {% csrf_token %}
        <form>
            <div class="mb-3">
              <label for="exampleInputNumber1" class="form-label">Account Number</label>
              <input type="username" class="form-control" name="username">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" name="password">
            </div>
        {{ form.as_p }}
        <button type="submit" value="Submit" class="save btn btn-secondary">Submit</button>
    </form>
{% endblock %}