{% extends "MovieWebsite/layout.html" %}
{% block title %}
    
{% endblock %}
{% block content %}
<div style="font-size: 50px;"><b>Register Club</b></div>
    <form method="POST" class="log-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Register</button>
    </form>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                <div class="error-message">{{ message }}</div>
            {% endif %}
        {% endfor %}
    </ul>
{% endif %}
{% endblock %}